.main__container-contact {
    width: 100%;
    height: 100vh;
    z-index: 60;
    position: relative;
    background-color: #ae393961;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    height: 60%;
    /* background-color: #28263487; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 0vh;
}

.field {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: #ff4d42;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    margin: auto;
}

.field label {
    /* letter-spacing: 3vw; */
}

.field input {
    background-color: #a1a6aa;
    border: none;
    height: 4vh;
    width: 64vw;
    margin-top: 0vh;
    border-radius: 5px;
}

input[type="submit"] {
    height: 3vh;
    width: 26vw;
    margin: 2% auto;
    background-color: #ff4d42;
    border: none;
    border-radius: 5px;
    color: black;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 0 black;
}

input[type="submit"]:hover {
    background-color: #7a2525;
}

.main__container-contact img {
    width: 67vw;
    margin: -5% 0% 0% -3%;
}

.container-logo-con {
    width: 100%;
    height: 40%;
    /* background-color: #28263487; */
    /* display: none; */
}
.lista-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: -4vh;
}

.lista-cont i {
    font-size: 3vh;
}

.lista-cont i:hover {
    color: #ff4d42;
}

#message {height: 14vh;}

.contenedor-formu {background-color: rgb(40 38 52 / 82%);padding: 3vh;height: 71vh;}

@media (min-width: 480px) {

    form {
   
    }
    
    .field {
   
    }
    
    .field label {
       
    }
    
    .field input {
   
    }
    
    input[type="submit"] {
   
    }
    
    .main__container-contact img {
    width: 38vh;
    margin-left: 11vh;
    }
    
    .container-logo-con {
    
    }
    .lista-cont {
    
    }
    
    .lista-cont i {
     
    }


}

@media (min-width: 1010px) {
    .main__container-contact {
        flex-direction: row;
    }

    form {
   height: 61vh;
   justify-content: space-evenly;
   width: 40vw;
   }
    
    .field {
   
    }
    
    .field label {
       font-size: 3vh;
    }
    
    .field input {
   height: 4vh;
   width: 33vw;
   }
    
    input[type="submit"] {
   width: 13vw;
   height: 4vh;
   }
    
    .main__container-contact img {
    width: 46vh;
    margin: 3vw 6vh;
    }
    
    .container-logo-con {
    height: 61vh;
    width: 40vw;
    }
    .lista-cont {
    
    }
    
    .lista-cont i {
     
    }

}
@media (min-width: 1440px) { 



    .main__container-contact {
        flex-direction: row;
    }

    form {
   height: 61vh;
   justify-content: space-evenly;
   width: 40vw;
   }
    
    .field {
   
    }
    
    .field label {
       font-size: 3vh;
    }
    
    .field input {
   height: 6vh;
   width: 31vw;
   }
    
    input[type="submit"] {
   width: 11vw;
   height: 6vh;
   }
    
    .main__container-contact img {
    width: 45vh;
    margin: 2vw 18vh;
    }
    
    .container-logo-con {
    height: 61vh;
    width: 40vw;
    }
    .lista-cont {
    
    }
    
    .lista-cont i {
     
    }


}