.main__container-contact {
    width: 100%;
    height: 100vh;
    z-index: 60;
    position: relative;
    background-color: #ae393961;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    width: 80%;
    height: 36%;
    background-color: #28263487;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4d42;
}

.field label {}

.field input {
    background-color: #a1a6aa;
    border: none;
    height: 3vh;
    width: 64vw;
    margin-top: 1vh;
    border-radius: 2px;
}

input[type="submit"] {
    height: 3vh;
    width: 26vw;
    margin: 2% auto;
    background-color: #aea5a5;
    border: none;
    border-radius: 5px;
    color: black;
}

.main__container-contact img {
    width: 92vw;
    margin: 0% 0% 0% -13%;
}

.container-logo-con {
    width: 80%;
    height: 36%;
    background-color: #28263487;
}
.lista-cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: -4vh;
}