main {

    width: 100%;

    height: 11vh;

    z-index: 50;

    position: absolute;
}

.main__comtainer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__comtainer-text h1 {
    color: #a1a6aa;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14vw;
    margin-top: -6vh;
}

.highlight {
    color: #ff4e44;
}

.main__comtainer-text h2 {
    color: #ff4e44;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 3vh;
    margin-top: 10vh;
    position: absolute;
}

.main__comtainer-text p {
    position: absolute;
    margin-top: 20vh;
    background-color: #a1a6aa38;
    text-align: center;
    color: #ff4e44;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.home-logo{
    height: 100vh;
}

@keyframes caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #a1a6aa;
    }
}

@media (min-width: 480px) {




    .main__comtainer-text {

margin: -13% 0% 0% 0%;

}

    .main__comtainer-text h1 {
    margin-top: 9vh;
}

    .highlight {}

    .main__comtainer-text h2 {

margin-top: 35vh;

font-size: 7vh;

}

    .main__comtainer-text p {

        font-size: 3vh;

        margin-top: 33vh;

        width: 100%;
    }



    @keyframes caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: #a1a6aa;
        }
    }

    .conteiner_skills {

        margin-top: 78vh;

    }

    .conteiner_skills h3 {}

    .iconos {}

    .iconos-leng {}

    .iconos-leng i {}




}

@media (min-width: 1010px) {
    .main__comtainer-text {
        width: 100%;
    }


    .main__comtainer-text p {

        font-size: 5vh;

        margin-top: 27vh;
    }

    .main__comtainer-text h1 {

margin-top: -10vh;

font-size: 15vh;

}

    .main__comtainer-text h2 {

margin-top: 20vh;

font-size: 9vh;

}

    .conteiner_skills {

margin-top: 84vh;

}
}

@media (min-width: 1440px) {
    .main__comtainer-text p {

        font-size: 6vh;

        margin-top: 18vh;
    }

    .main__comtainer-text h1 {

margin-top: 23vh;

font-size: 18vh;

}

    .main__comtainer-text h2 {

margin-top: 63vh;

font-size: 13vh;

}

    .conteiner_skills h3 {
    margin-top: 9vh;
}

    .conteiner_skills {

margin-top: 71vh;
}
.iconos {
    margin-top: 1vh;
}
}